/**
 * Application : BookStore
 * Name        : mystyles.css
 * Author      : rafaelbattesti
 * Since       : 2016-06-15
 * Version     : 0.1
 */

.copyright
{
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.linkHeader
{
    float: left;
}

.linkDetails
{
    float: left;
    font-size: 0.8em;
    font-style: italic;
}

.ui-li-thumb
{
    border: 3px solid white !important;
    border-radius: 50% 50% 50% 50% !important;
    width: 100px;
    height: 75px;
}

#popup .ui-header a {
    display: none;
}

#popupBack
{
    float: left;
}

#popupGo
{
    float: right;
}